@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url(./font.css);

:root {
  --m700: "Montserrat-700";
  --m400: "Montserrat-400";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1320px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  position: relative;
}

.nav {
  padding-top: 20px;
}

.nav_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #323232;
  padding-bottom: 20px;
  width: 100%;
}

.nav_list {
  display: flex;
  list-style: none;
  gap: 40px;
}

.nav_link,
.lang {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0px;
  text-decoration: none;
  color: #323232;
}

.nav_icon {
  display: flex;
  align-items: center;
  gap: 40px;
}

.menu,
.close {
  cursor: pointer;
  width: 25px;
}

label {
  display: none;
}

#check {
  display: none;
}

.intro {
  margin-top: 40px;
}

.intro_box {
  display: flex;
  gap: 30px;
}

.intro_left {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.intro_card {
  width: 526px;
  background: #e1e1e1;
  padding-top: 73px;
  padding-bottom: 47px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 43px;
  border-radius: 10px;
  box-shadow: 7px 7px 20px 0px #d1d1d1;
  position: relative;
}

.intro_card::after {
  content: "50%";
  background: #323232;
  color: white;
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 10px 40px;
  border-radius: 10px;
  font-family: "Montserrat";
  font-size: 22px;
  font-weight: 400;
  line-height: 27px;
}

.intro_card:nth-of-type(2) {
  gap: 12px;
}

.intro_card:nth-of-type(2)::after {
  content: "20%";
}

.intro_img {
  display: block;
}

.intro_text_box {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
}

.intro_text {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
  color: #323232;
}

.intro_title {
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  /* letter-spacing: 1px; */
  color: #000;
}

.intro_right {
  padding: 188px 0;
  background: #e1e1e1;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  width: 746px;
  box-shadow: 7px 7px 20px 0px #d1d1d1;
  position: relative;
}

.intro_right::after {
  content: "50%";
  background: #323232;
  color: white;
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 10px 40px;
  border-radius: 10px;
  font-family: "Montserrat";
  font-size: 22px;
  font-weight: 400;
  line-height: 27px;
}

.sell {
  margin-top: 60px;
}

.sell_box {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 21px;
  row-gap: 40px;
}

.title {
  font-family: "Montserrat";
  font-size: 30px;
  font-weight: 400;
  line-height: 37px;
  letter-spacing: 2.200000047683716px;
  text-align: center;
  border-bottom: 2px solid #323232;
  padding-bottom: 20px;
}

.sell_card {
  width: 416px;
  padding: 75px 0px 40px 0px;
  background: #e1e1e1;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  box-shadow: 7px 7px 20px 0px #d1d1d1;
  position: relative;
}

.sell_card::after {
  content: url(../image/icon1.png);
  background: white;
  padding: 15px 15px 13px 15px;
  border-radius: 10px;
  position: absolute;
  /* display: block; */
  display: flex;
  justify-content: center;
  align-items: center;
  top: 20px;
  right: 20px;
}

.sell_card::before {
  content: url(../image/icon2.png);
  background: white;
  padding: 15px 15px 13px 15px;
  border-radius: 10px;
  position: absolute;
  /* display: block; */
  display: flex;
  justify-content: center;
  align-items: center;
  top: 90px;
  right: 20px;
}

.sell_text_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.sell_text {
  font-family: "Montserrat";
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}

.sell_title {
  font-family: "Montserrat";
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.discount {
  position: absolute;
  top: 20px;
  left: 20px;
  background: #323232;
  font-family: "Montserrat";
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  padding: 10px 40px;
  color: white;
  border-radius: 10px;
}

.sell_img {
  width: 200px;
}

.again {
  text-align: center;
  font-family: "Montserrat";
  font-size: 30px;
  font-weight: 400;
  line-height: 37px;
  margin-top: 50px;
}

.news_box {
  margin-top: 40px;
  display: flex;
  gap: 24px;
}

.news_card {
  background-image: url("../image/news1.png");
  width: 636px;
  height: 470px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 110px 60px 60px 60px;
  gap: 30px;
  border-radius: 10px;
}

.news_card:nth-of-type(2) {
  background-image: url("../image/news2.png");
}

.news_card::after {
  content: "Советы";
  background: #fff;
  padding: 12px 30px;
  font-family: "Montserrat";
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  position: absolute;
  border-radius: 8px;
  top: 20px;
  left: 20px;
}

.news_title {
  max-width: 466px;
  font-family: "Montserrat";
  font-size: 22px;
  font-weight: 700;
  line-height: 27px;
  color: #fff;
}

.news_text {
  max-width: 462px;
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  color: white;
}

.news_icon {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 70px;
}

.data_text {
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: white;
}

/*  */

.footer {
  background: #323232;
  margin-top: 60px;
  padding-top: 100px;
  padding-bottom: 87px;
}

.footer__box {
  display: flex;
  justify-content: space-between;
}

.footer__title {
  font-family: var(--m700);
  font-size: 32px;
  font-weight: 700;
  line-height: 23px;
  color: #fff;
  margin-bottom: 40px;
}

.footer__list {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 15px;
}

.footer__title-2 {
  margin-bottom: 40px;
  font-family: var(--m400);
  font-size: 22px;
  font-weight: 400;
  line-height: 27px;
  color: #fff;
}

.footer__link {
  font-family: var(--m400);
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  color: #fff;
  text-decoration: none;
}

.footer__text {
  font-family: var(--m400);
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  color: #fff;
}

.footer__tel {
  display: flex;
  gap: 15px;
}

.footer__tel a {
  text-decoration: none;
  display: flex;
  gap: 10px;
  font-family: var(--m400);
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  color: #fff;
  margin-top: 15px;
  margin-bottom: 15px;
}

.footer__gmail {
  display: flex;
  text-decoration: none;
  font-family: var(--m400);
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  color: #fff;
  margin-bottom: 15px;
}

.footer__3 {
  display: flex;
  gap: 26px;
}

.footer__main {
  display: flex;
  gap: 26px;
}
